/*
/.**

!/.config/nvim/
!/.config/nvim/after/**
!/.config/nvim/ftplugin/**
!/.config/nvim/lua/**
!/.config/nvim/plugin/**
/.config/nvim/undo/
!/.config/nvim/init.lua

!/.config/powershell/

!/.zsh/
!/.zshrc

!/.gitignore
!/LICENSE
!/README.md
