/*
/.**

!/.config/
!/.config/nvim/
!/.config/nvim/**
/.config/nvim/undo/

!/.config/powershell/
!/.config/powershell/**
/.config/powershell/Modules/
/.config/powershell/Scripts/

!/.zsh/
!/.zsh/**
!/.zshrc

!/.gitignore
!/LICENSE
!/README.md
.DS_STORE
